:root {
  --size-md: clamp(1em, 1.5vw + 1em, 1.5em);
  --size-xl: clamp(2em, 5vw + 1em, 3.25em);
  --size-lg: clamp(1.5em, 3vw + 1em, 2.25em);
  --size-base: clamp(1em, 0.5vw + 1em, 1.125em);

  --color-black: oklch(10% 0 0);
  --color-white: oklch(from var(--color-black) calc(l + 0.995) c h);
  --color-primary: oklch(from var(--color-black) calc(l + 0.95) c h);
}

/* --- Reset --- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-sans);
  line-height: 1.7;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  block-size: 100%;
  scrollbar-gutter: stable;
}

body {
  min-block-size: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: var(--size-base);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1 {
  text-wrap: balance;
  font-weight: 700;
  font-size: var(--size-base);
}
h2 {
  text-wrap: balance;
  font-weight: 700;
  font-size: var(--size-base);
}

p {
  text-wrap: pretty;
}

h1,
h2,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
iframe,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

ul,
ol {
  padding-inline-start: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: var(--font-mono);
  font-size: 0.9em;
}

/* --- Layout --- */
