---
/* Site footer component displaying attribution and copyright */
const { author, year } = Astro.props;

interface Props {
  author: string;
  year: number;
}
---

<p>
  design & code by <a href='/'>
    {author} © {year}
  </a>
</p>
