---
/**
 * Footer Component
 * Renders the site-wide footer with authorship and copyright information.
 */
const { author, year } = Astro.props;

interface Props {
  author: string;
  year: number;
}
---

<p>
  design & code by <a href='/'>
    {author} © {year}
  </a>
</p>
