---
/* Component to constrain content width and center it across the site */
---

<div class='limiter'>
  <slot />
</div>

<style>
  .limiter {
    max-inline-size: var(--max-width);
    margin-inline: auto;
    padding-inline: var(--space-sm);
  }

  /* Adjusts vertical padding based on the parent container */
  :global(main) .limiter {
    padding-block: var(--space-lg);
  }

  :global(footer) .limiter {
    padding-block: var(--space-md);
  }

  :global(nav) .limiter {
    padding-block: 0;
  }
</style>
