---

---

<nav>
  <span>db</span>
  <ul>
    <li>LAB</li>
    <li>ABOUT</li>
    <li>NOW</li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1em;

    ul {
      display: flex;
      gap: 1rem;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
</style>
