---
/* Main navigation component for the site header */
import type { SiteConfig } from '@config/site';
import Limiter from '@components/Limiter.astro';

interface Props {
  nav: SiteConfig['nav'];
}

const { nav } = Astro.props;
const { home, links } = nav;
const path = Astro.url.pathname;
---

<nav>
  <Limiter>
    <div class='nav-container'>
      <span>
        <a href={home.href} aria-label='Home'>{home.label}</a>
      </span>
      <ul role='list'>
        {
          links.map(({ label, href }) => {
            /* Highlighting the current page in the navigation menu */
            const isActive = path === href;
            return (
              <li>
                <a
                  href={href}
                  class:list={['nav-link', { active: isActive }]}
                  aria-current={isActive ? 'page' : undefined}
                >
                  {label.toUpperCase()}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </Limiter>
</nav>

<style>
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  span {
    display: flex;

    & a {
      display: flex;
      align-items: center;
      min-block-size: var(--space-lg);
      padding-block: var(--space-sm);
      font-weight: 700;
    }
  }

  ul {
    display: flex;
    align-items: stretch;

    & li {
      display: flex;
    }
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-block-size: var(--space-lg);
    padding-inline: var(--space-md);
    padding-block: var(--space-sm);
    font-size: var(--text-sm);
    font-weight: 700;
    transition: background-color var(--transition-fast);

    &:hover,
    &.active {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }
</style>
