---
import type { Config } from '../config/config';
const { nav } = Astro.props;
const path = Astro.url.pathname;

interface Props {
  nav: Config['nav'];
}
---

<nav>
  <span>
    <a href="/" aria-label="home page">db</a>
  </span>
  <ul>
    {
      nav.map(({ page }) => {
        const label = page.replaceAll('/', '').toUpperCase();
        const isActive = path === page;
        return (
          <li>
            <a
              href={page}
              class:list={['nav-link', { active: isActive }]}
              aria-current={isActive ? 'page' : undefined}
            >
              {label}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
