---
import { navList } from '../config/config';
const path = Astro.url.pathname;
---

<nav>
  <span>
    <a href="/">db</a>
  </span>
  <ul>
    {
      navList.map((link) => {
        const isActive = path === link.href;
        return (
          <li>
            <a
              href={link.href}
              aria-current={isActive ? 'page' : undefined}
              class="nav-link"
            >
              {link.label}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
